

    * {
      margin:0;
      padding:0;
     }
     body {
      color: rgb(25, 99, 236);
      font-family:'gotham', Courier, monospace;
      font-size: 14px;
    }
   
    header {
      background: #79bad6;
      min-height: 80px;
    }
    .portada {
      width: 2000px;
      height: 800px;
    }

    h1{
      font-size: 30px;
      margin: 40px auto;
      text-align: center;
    }
    header > nav > ul > li
     {
      display: inline-block;
      font-size: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      list-style-type: none;
      margin-right: 15px;

      color: #fff;
      text-decoration: none;
    }

    p { color:rgb(1, 17, 17);
        font: size 50px;
        background: #0497d6
   
    }

    footer {
      background: #121e23;
      color: #789;
      text-align: center;
      padding: 40px 0;
    }
    .titulotratamientos {
    
      background: #121e23;
      color: #789;
      text-align: center;
      padding: 40px 0;
  
    }
    .calendario {
      left:100;
      top: 100px;
      width: 300px;
      height: 300px;
    }
    .peeling {
      width:1000px;
      height:300px;
      border-color: #01151d;
    }
    .meso {
      width:1000px;
      height:300px;
      border-color: #01151d;
    }
    .rino {
      width:1000px;
      height:300px;
      border-color: #01151d;
    }

    .retensado {
      width:1000px;
      height:300px;
      border-color: #01151d;
    }

    .hiper {
      width:1000px;
      height:300px;
      border-color: #01151d;
    }

  

